<nav>
	<div class="logo"><a href="/festivals/admin">Festicket</a></div>
	<ul class="nav-links">
		<li><a class="nav-button" href="/festivals/admin">Fesztiválok</a></li>
		<li><a class="nav-button" href="/festivals">Kijelentkezés</a></li>
	</ul>
	<div class="line-burger">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
</nav>