<%- include('header', csstype="login") -%>
<%-include('navbar') -%>

    <section class="box">
        <section class="wrapper">
            <div class="cim">Bejelentkezés</div>
            <div class="grid-container-inputs">
                <div class="pw">jelszó:</div>
                <div class="pwinput"><input type="password"></div>
            </div>
            <div class="grid-container-buttons">
                <div class="sign-in"><a class="button" href="/festivals/admin">Bejelentkezés</a></div>
                <div class="back"><a class="button" href="/festivals">Vissza</a></div>
                </div>
        </section>
    </section>
<%-include('footer') -%>