<%- include('header', csstype="uj_fest") -%>
<%-include('logged_in_navbar') -%>

    <section class="box">
        <section class="wrapper">
            <div class="cim">Új Fesztivál Felvétel</div>
            <form action="/festivals/new" method="post">
                <div class="grid-container-inputs">
                    <div class="name">név:</div>
                    <div class="nameinput"><input name="nev" type="text"></div>
                    <div class="date">dátum:</div>
                    <div class="dateinput"><input name="datum" type="text"></div>
                    <div class="place">helyszín:</div>
                    <div class="placeinput"><input name="helyszin" type="text"></div>
                </div>
                <div class="grid-container-buttons">
                    <div class="sign-in"><button role="button" class="button">Felvétel</button></div>
                    <div class="back"><a class="button" href="/">Vissza</a></div>
                    </div>
            </form>
        </section>
    </section>
<%-include('footer') -%>